.restaurant__cards-wrapper {
    @include tablet-only {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;

    }
    @include tablet-only {
        flex-wrap: wrap;
    }

    @include desktop-only {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        

    }

}


section img {

    object-fit: cover;
    height: 13.5rem;
    width: 100%;
    @include tablet-only{
        height: 11.5rem;
    }

    



}

.restaurant__card-wrapper {
    @include tablet-only{
        width: 48%;
        
    }

    @include desktop-only {
        width: 24%;
    }
}


.restaurant {
    background-color: $color-background-2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;


    &__main-title {
        margin-bottom: 5%;
        @include tablet-only{
            margin-left: 1%;
        }
    }





    &-wrapper {
        width: 95%;
            
        

    }


    &__card {
        width: 100%;
        background-color: $color-white;
        margin-bottom: 10%;

        @include secondary-box-shadow;
        @include secondary-border;

       
    }

    &__img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -29px;



        &--new {
            text-align: center;
            position: relative;
            margin-left: auto;
            margin-right: 10%;
            margin-bottom: -5%;
            background-color: $color-tertiary;
            width: 85px;
            height: 30px;
            &--off{
                opacity: 0;
                
            }
            
        }


    }



    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5rem;
    }

    &__icon-main {
        position: relative;
        top: 30px;
        right: 25px;
        font-size: 1.4rem;
        font-weight: 200;
        

    }

    &__text {

        margin-left: 20px;

        h3 {
            margin-top: 8px;
            @include tablet-only {
                font-size: 18px;
        }
        }

        p {
            margin-top: -20px;
            @include tablet-only {
                font-size: 14px;
                margin-top: -15px;
        }
    }

    }

}

.restaurant__img--new {



    p {
        color: $color-tertiary;
        @include lightness;
        margin-top: 4px;


    }




}