
.mainlogo 
{
    height: 50px;
    @include tablet-only {
        height: 40px;
    }


    .mainlogo__img

    {
    height: 35px;
    width: 100%;
    @include tablet-only {
        height: 35px;
    }
   
    }
    


}


.localisation 

{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-background-1;
    width: 100%;
    box-shadow:  0 -5px 5px -5px, 5px 0 0px -5px, 0 3px 3px -5px inset, -5px 0 0px -5px;
    

    &__marker

    {
        font-size: 8px;
        padding: 10px;
        
    }
    &__city {
        @include tablet-only {
            font-size: 1.2rem;
        }
    }


    
}

.header-wrapper {
    background-color: $color-background-2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        
         margin-left: 4%;
        margin-top: 6%;
        @include tablet-only{
            margin-top: 1%;
            margin-left: 0%;
            margin-bottom: 0%;
        }
    }

}

.headercontent 

{
    
    width: 70%;
    text-align: center;
    padding-bottom: 60px;
    @include tablet-only {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        
        
    }
}


/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*-----------Restaurants--------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/



.second-header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.mainlogo-restaurant {

    display: flex;
    align-items:center;
    justify-content: center;
    height: 50px;
    width: 100%;
    
    

    img {
        height: 35px;
        width: 200px;
    }

    .return { 
        position: absolute;
        left: 7%;
      
        
    }
    
}


    

    

    .restaurant-list__title{
        h1 {
            width: 70%;
        }
    }

    
.localisation {
    display: flex;
}



