.header-wrapper

{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainlogo 
{
    height: 50px;


    .mainlogo__img

    {
    height: 35px;
    width: 100%;
   
    }
    


}


.localisation 

{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-background-1;
    width: 100%;
    box-shadow:  0 -5px 5px -5px, 5px 0 0px -5px, 0 3px 3px -5px inset, -5px 0 0px -5px;

    .localisation__marker

    {
        font-size: 8px;
        padding: 10px
    }
    
}

.header-wrapper {
    background-color: $color-background-2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headercontent 

{
    
    width: 70%;
    text-align: center;
    padding-bottom: 60px;
}


/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*-----------Restaurants--------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/



.second-header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.mainlogo-restaurant {

    display: flex;
    align-items:center;
    justify-content: center;
    height: 50px;
    width: 100%;
    
    

    img {
        height: 35px;
        width: 200px;
    }

    .return { 
        position: absolute;
        left: 7%;
      
        
    }
    
}


    h1 {
        font-family: "Shrikhand", "sans-serif";
        font-weight: 500;
        margin-left: 4%;
        margin-top: 6%;
    }

    .restaurant__icon {
        font-size: 2.2rem;
        margin-top: 2%;
        margin-right: 6%;
    }


