body {
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
}

section img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.restaurant h3 {
  font-size: 1.4rem;
  font-weight: 700;
}
.restaurant p {
  font-size: 1.2rem;
  font-weight: 400;
}

.howto p {
  font-weight: 550;
  font-size: 1.3rem;
}
@media screen and (min-width: 700px) {
  .howto p {
    font-size: 1rem;
  }
}

.titles {
  font-weight: 700;
  font-size: 1.6rem;
}

header h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  header h1 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 2rem;
  }
}
header p {
  font-size: 1.2rem;
}
@media screen and (min-width: 700px) {
  header p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  header p {
    font-size: 1.2rem;
  }
}
header .restaurant__img--new p {
  font-size: 1rem;
  font-weight: 700;
}

.restaurant-list__title h1 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
}

.mainlogo {
  height: 50px;
}
@media screen and (min-width: 700px) {
  .mainlogo {
    height: 40px;
  }
}
.mainlogo .mainlogo__img {
  height: 35px;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .mainlogo .mainlogo__img {
    height: 35px;
  }
}

.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(141, 139, 139, 0.479);
  width: 100%;
  box-shadow: 0 -5px 5px -5px, 5px 0 0px -5px, 0 3px 3px -5px inset, -5px 0 0px -5px;
}
.localisation__marker {
  font-size: 8px;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .localisation__city {
    font-size: 1.2rem;
  }
}

.header-wrapper {
  background-color: rgba(223, 221, 221, 0.719);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-wrapper h1 {
  margin-left: 4%;
  margin-top: 6%;
}
@media screen and (min-width: 700px) {
  .header-wrapper h1 {
    margin-top: 1%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
}

.headercontent {
  width: 70%;
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 700px) {
  .headercontent {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*-----------Restaurants--------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
.second-header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainlogo-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.mainlogo-restaurant img {
  height: 35px;
  width: 200px;
}
.mainlogo-restaurant .return {
  position: absolute;
  left: 7%;
}

.restaurant-list__title h1 {
  width: 70%;
}

.localisation {
  display: flex;
}

.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  border: 0px;
  font-size: 1.1rem;
  height: 50px;
  width: 250px;
  margin-bottom: 10%;
}
@media screen and (min-width: 700px) {
  .btn {
    margin-bottom: 2%;
  }
}

.btn-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .btn-restaurant {
    margin-top: 2%;
  }
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .howto__main-title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
  }
}
.howto__container {
  width: 98%;
}
@media screen and (min-width: 700px) {
  .howto__cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .howto .howto__cards-wrapper {
    width: 30%;
  }
}

.howto__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(223, 221, 221, 0.719);
  margin-bottom: 10%;
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0.5rem 0.5rem 0.5rem 0 #aaa;
  border-radius: 20px;
}
.howto__link:hover {
  background-color: #cec2db;
}
.howto__link:hover .howto__logo {
  color: #9356DC;
}

.howto__number {
  text-align: center;
  color: #FFF;
  margin-left: -63px;
  margin-right: 25px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 80%;
}
@media screen and (min-width: 700px) {
  .howto__number {
    margin-left: -55px;
    margin-bottom: 10px;
  }
}

.howto__logo {
  margin-right: 25px;
  color: rgba(87, 87, 87, 0.479);
}

@media screen and (min-width: 700px) {
  .restaurant__cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .restaurant__cards-wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__cards-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

section img {
  object-fit: cover;
  height: 13.5rem;
  width: 100%;
}
@media screen and (min-width: 700px) {
  section img {
    height: 11.5rem;
  }
}

@media screen and (min-width: 700px) {
  .restaurant__card-wrapper {
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__card-wrapper {
    width: 24%;
  }
}

.restaurant {
  background-color: rgba(223, 221, 221, 0.719);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.restaurant__main-title {
  margin-bottom: 5%;
}
@media screen and (min-width: 700px) {
  .restaurant__main-title {
    margin-left: 1%;
  }
}
.restaurant-wrapper {
  width: 95%;
}
.restaurant__card {
  width: 100%;
  background-color: #FFF;
  margin-bottom: 10%;
  box-shadow: 0.1rem 0.1rem 1rem 0 #aaa;
  border-radius: 20px;
}
.restaurant__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -29px;
}
.restaurant__img--new {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: 10%;
  margin-bottom: -5%;
  background-color: #99E2D0;
  width: 85px;
  height: 30px;
}
.restaurant__img--new--off {
  opacity: 0;
}
.restaurant__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
}
.restaurant__icon-main {
  position: relative;
  top: 30px;
  right: 25px;
  font-size: 1.4rem;
  font-weight: 200;
}
.restaurant__text {
  margin-left: 20px;
}
.restaurant__text h3 {
  margin-top: 8px;
}
@media screen and (min-width: 700px) {
  .restaurant__text h3 {
    font-size: 18px;
  }
}
.restaurant__text p {
  margin-top: -20px;
}
@media screen and (min-width: 700px) {
  .restaurant__text p {
    font-size: 14px;
    margin-top: -15px;
  }
}

.restaurant__img--new p {
  color: #99E2D0;
  color: #278870;
  margin-top: 4px;
}

.main-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
@media screen and (min-width: 700px) {
  .main-img {
    height: 18rem;
  }
}

.return {
  color: #000;
  font-size: 1.7rem;
}

.wrapper-restaurant {
  background-color: #f7f7f7;
}
@media screen and (min-width: 700px) {
  .wrapper-restaurant {
    width: 80%;
    margin: auto;
  }
}

.restaurant__icon {
  font-size: 2.2rem;
  margin-right: 4%;
}

.restaurant-list__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
  bottom: 100px;
  padding-bottom: 5%;
  margin-bottom: -120px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 2%;
  align-items: center;
}
.restaurant-list__title h1 {
  margin-left: 2%;
}

.entrees, .plats, .desserts {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .entrees, .plats, .desserts {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .entrees, .plats, .desserts {
    width: 33%;
  }
}

.restaurant-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
  .restaurant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 700px) {
  .restaurant-card__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
.restaurant-card__title {
  font-size: 1rem;
  margin-bottom: 4%;
  width: 60px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 4px solid #99E2D0;
  margin-left: 2%;
}
.restaurant-card__title h2 {
  font-weight: 400;
}
.restaurant-card__card {
  background-color: #FFF;
  width: 95%;
  margin-bottom: 4%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2% 2% 2% 2%;
  box-shadow: 0.1rem 0.1rem 1rem 0 #aaa;
  flex-wrap: nowrap;
}
@media screen and (min-width: 700px) {
  .restaurant-card__card {
    width: 95%;
  }
}
.restaurant-card__card--title {
  font-size: 1.2rem;
  font-weight: 700;
  max-height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant-card__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-card__card--text {
  font-size: 1.1rem;
  max-height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant-card__card--price {
  font-weight: 700;
  margin-right: 3%;
}

.mainlogo--white {
  height: 1.2rem;
}

footer {
  background-color: #3b3b3b;
  margin-top: -35px;
}

.footercontent {
  margin-left: 4%;
  margin-top: 4%;
  padding-bottom: 4%;
  color: #FFF;
}
@media screen and (min-width: 700px) {
  .footercontent {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 700px) {
  .footercontent__wrapper {
    display: flex;
    justify-content: space-around;
    margin-left: -8%;
    margin-top: -2%;
    font-size: 1rem;
  }
}
.footercontent__title {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  font-size: 1.4rem;
  padding-top: 4%;
  margin-bottom: 2%;
}
@media screen and (min-width: 700px) {
  .footercontent__title {
    text-align: center;
    margin-top: -2%;
    font-size: 1.6rem;
    margin-left: -2%;
  }
}
.footercontent__icon {
  font-size: 0.8rem;
  margin-right: 2%;
}
.footercontent__icon--2 {
  font-size: 0.8rem;
  margin-right: 1%;
}
.footercontent p {
  margin: 2% 0 0 0;
}

/*# sourceMappingURL=style.css.map */
