body {
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
}

section img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.restaurant h3 {
  font-size: 1.4rem;
  font-weight: 700;
}
.restaurant p {
  font-size: 1.2rem;
  font-weight: 400;
}

.howto p {
  font-size: 20px;
  font-weight: 550;
  font-size: 1rem;
}
@media screen and (min-width: 700px) {
  .howto p {
    font-size: 1rem;
  }
}

.titles {
  font-weight: 700;
  font-size: 1.6rem;
}

header h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 1.6rem;
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  header h1 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 2rem;
  }
}
header p {
  font-size: 1rem;
}
@media screen and (min-width: 700px) {
  header p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  header p {
    font-size: 1.2rem;
  }
}
header .restaurant__img--new p {
  font-size: 1rem;
  font-weight: 700;
}

.restaurant-list__title h1 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
}

.mainlogo {
  height: 45px;
}
@media screen and (min-width: 700px) {
  .mainlogo {
    height: 40px;
  }
}
.mainlogo .mainlogo__img {
  height: 35px;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .mainlogo .mainlogo__img {
    height: 35px;
  }
}

.localisation {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  box-shadow: 0 0 0.25rem 0.125rem #777777;
  /*---- box-shadow: box-shadow: 0 -5px 5px -5px #333; ---*/
}
.localisation__marker {
  font-size: 8px;
  padding: 10px;
}
.localisation__city {
  margin-left: 8px;
}
@media screen and (min-width: 700px) {
  .localisation__city {
    font-size: 1.2rem;
  }
}

.header-wrapper {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-wrapper h1 {
  margin-left: 4%;
  margin-top: 6%;
}
@media screen and (min-width: 700px) {
  .header-wrapper h1 {
    margin-top: 1%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
}

.headercontent {
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
}
@media screen and (min-width: 700px) {
  .headercontent {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
}
.headercontent__title {
  width: 100%;
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*-----------Restaurants--------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
.second-header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainlogo-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.mainlogo-restaurant img {
  height: 35px;
  width: 200px;
}
.mainlogo-restaurant .return {
  position: absolute;
  left: 7%;
}

.restaurant-list__title h1 {
  width: 70%;
}

.localisation {
  display: flex;
}

.btn {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  border: 0px;
  font-size: 1.1rem;
  height: 50px;
  width: 250px;
  margin-bottom: 10%;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 #aaa;
  transition: transform 1s;
}
@media screen and (min-width: 700px) {
  .btn {
    margin-bottom: 2%;
  }
}
.btn:hover:hover {
  transform: scale(1.25);
  background: linear-gradient(#ff50cf, #7d34d5);
  z-index: 2;
  box-shadow: 1px 1px 8px 2px black;
}

.btn-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .btn-restaurant {
    margin-top: 2%;
  }
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .howto__main-title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
  }
}
.howto__container {
  width: 90%;
}
@media screen and (min-width: 700px) {
  .howto__cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .howto .howto__cards-wrapper {
    width: 30%;
  }
}

.howto__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 10%;
  height: 80px;
  padding-left: 50px;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 #aaa;
  border-radius: 20px;
}
.howto__link:hover {
  background-color: #cec2db;
  transform: scale(1.08);
  box-shadow: 1px 1px 8px 2px black;
}
.howto__link:hover .howto__logo {
  color: #9356DC;
}

.howto__number {
  text-align: center;
  color: #FFF;
  margin-left: -63px;
  margin-right: 25px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 80%;
}
.howto__number p {
  margin-top: 2px;
  font-weight: 400;
}
@media screen and (min-width: 700px) {
  .howto__number {
    margin-left: -55px;
    margin-bottom: 10px;
  }
}

.howto__logo {
  margin-right: 25px;
  font-size: 1.3rem;
  color: rgba(87, 87, 87, 0.479);
}

@media screen and (min-width: 700px) {
  .restaurant__cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .restaurant__cards-wrapper {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__cards-wrapper {
    display: flex;
  }
}

section img {
  object-fit: cover;
  height: 13.5rem;
  width: 100%;
}
@media screen and (min-width: 700px) {
  section img {
    height: 11.5rem;
  }
}

@media screen and (min-width: 700px) {
  .restaurant__card-wrapper {
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__card-wrapper {
    width: 24%;
  }
}

.restaurant {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.restaurant__main-title {
  margin-bottom: 5%;
}
@media screen and (min-width: 700px) {
  .restaurant__main-title {
    margin-left: 1%;
    text-align: center;
  }
}
.restaurant-wrapper {
  width: 90%;
  padding-top: 30px;
}
.restaurant__card {
  width: 100%;
  background-color: #FFF;
  margin-bottom: 10%;
  box-shadow: 0.15rem 0.15rem 15rem 0 #aaa;
  border-radius: 20px;
  transition: transform 1s;
}
.restaurant__card:hover {
  transform: scale(1.08);
  box-shadow: 1px 1px 8px 2px black;
}
.restaurant__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -29px;
}
.restaurant__img--new {
  display: flex;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: 10%;
  margin-bottom: -5%;
  background-color: #99E2D0;
  width: 90px;
  height: 30px;
}
.restaurant__img--new--off {
  opacity: 0;
}
.restaurant__img--new p {
  margin: auto;
  font-weight: 500;
  font-size: 1.1rem;
}
.restaurant__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
}
.restaurant__icon-main {
  position: relative;
  top: 30px;
  right: 25px;
  font-size: 1.4rem;
  font-weight: 200;
}
.restaurant__text {
  margin-left: 20px;
}
.restaurant__text h3 {
  margin-top: 8px;
  font-size: 1.3rem;
}
@media screen and (min-width: 700px) {
  .restaurant__text h3 {
    font-size: 18px;
  }
}
.restaurant__text p {
  margin-top: -20px;
  font-size: 1.1rem;
}
@media screen and (min-width: 700px) {
  .restaurant__text p {
    font-size: 14px;
    margin-top: -15px;
  }
}

.restaurant__img--new p {
  color: #99E2D0;
  color: #278870;
  margin-top: 4px;
}

.main-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
@media screen and (min-width: 700px) {
  .main-img {
    height: 18rem;
  }
}

.return {
  color: #000;
  font-size: 1.7rem;
}

.wrapper-restaurant {
  background-color: #f7f7f7;
}
@media screen and (min-width: 700px) {
  .wrapper-restaurant {
    width: 80%;
    margin: auto;
  }
}

.restaurant__icon {
  font-size: 2.2rem;
  margin-right: 4%;
}

.restaurant-list__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
  bottom: 100px;
  padding-bottom: 5%;
  margin-bottom: -120px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 2%;
  align-items: center;
}
.restaurant-list__title h1 {
  margin-left: 2%;
}

.entrees,
.plats,
.desserts {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .entrees,
.plats,
.desserts {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .entrees,
.plats,
.desserts {
    width: 33%;
  }
}

.restaurant-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
  .restaurant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.restaurant-card__maintext {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 700px) {
  .restaurant-card__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
.restaurant-card__title {
  font-size: 1rem;
  margin-bottom: 4%;
  width: 60px;
  text-transform: uppercase;
  padding-bottom: 0px;
  border-bottom: 4px solid #99E2D0;
  margin-left: 2%;
}
.restaurant-card__title h2 {
  font-weight: 400;
}
.restaurant-card__card {
  background-color: #FFF;
  width: 95%;
  max-width: 400px;
  margin-bottom: 4%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 2% 2% 2% 2%;
  box-shadow: 0.15rem 0.15rem 15rem 0 #aaa;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}
.restaurant-card__card:hover {
  transform: scale(1.08);
  box-shadow: 1px 1px 8px 2px black;
}
.restaurant-card__card:hover > .restaurant-card__card--check {
  transform: translateX(-3.5rem);
}
.restaurant-card__card:hover > .restaurant-card__card--check > .restaurant-card__card--check-active > .restaurant-card__card--check-active2 {
  transform: rotate(1turn);
}
@media screen and (min-width: 700px) {
  .restaurant-card__card {
    width: 95%;
  }
}
.restaurant-card__card--title {
  font-size: 1.2rem;
  font-weight: 700;
  max-height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant-card__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-card__card--text {
  font-size: 1.1rem;
  max-height: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant-card__card--price {
  font-weight: 700;
  margin-right: 3%;
}

.restaurant-card__card--check {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: -4.6rem;
  height: 50px;
  width: 30%;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.restaurant-card__card--check-price {
  margin-right: 10px;
  margin-left: -10px;
}
@media screen and (min-width: 700px) {
  .restaurant-card__card--check-price {
    margin-left: -20px;
  }
}
.restaurant-card__card--check-active {
  width: 60px;
  height: 100px;
  background-color: #71ff71;
  margin-bottom: -20px;
}
.restaurant-card__card--check-active2 {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 1.6rem;
}
.mainlogo--white {
  height: 1.2rem;
}

footer {
  background-color: #3b3b3b;
  margin-top: -35px;
}

.footercontent {
  display: flex;
  flex-direction: column;
  color: white;
}
.footercontent__wrapper ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  color: white;
}
@media screen and (min-width: 700px) {
  .footercontent__wrapper ul {
    display: flex;
    flex-direction: row;
    margin-left: -4%;
  }
}
.footercontent__wrapper li {
  margin-bottom: 20px;
}
.footercontent__wrapper a {
  color: white;
  text-decoration: none;
}
.footercontent__wrapper a:hover {
  text-decoration: underline;
}
.footercontent__title {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  font-size: 1.4rem;
  padding-top: 4%;
  margin-bottom: 2%;
  margin-left: 10%;
}
@media screen and (min-width: 700px) {
  .footercontent__title {
    text-align: center;
    margin-top: -2%;
    font-size: 1.6rem;
    margin-left: 0%;
  }
}
.footercontent__icon {
  font-size: 0.8rem;
  margin-right: 2%;
}
.footercontent__icon--2 {
  font-size: 0.8rem;
  margin-right: 1%;
}
.footercontent p {
  margin: 2% 0 0 0;
}

/* <= Animation de rotation du loader */
@keyframes loader-main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-container {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(2turn);
  }
}
@keyframes btn {
  0% {
    box-shadow: 0px 0px 4px 4px black;
    transform: scale(1);
  }
  100% {
    box-shadow: 0px 0px 4px 4px black;
    transform: scale(1.25);
  }
}
/* //////////////////RESTAURANT //////////////////////////*/
/* //////////////////RESTAURANT //////////////////////////*/
/* //////////////////RESTAURANT //////////////////////////*/
/* Animation d'apparition des parties des menus => */
@keyframes menu {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
  }
}
/* V validation menu => */
@keyframes validation {
  0% {
    transform: rotate(0deg);
    transform: translateX(0);
  }
  100% {
    transform: rotate(1turn);
    transform: translateX(-58px);
  }
}
@keyframes rotate-check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.loader-container {
  z-index: -1;
}

.loader-img {
  width: 100%;
  object-fit: cover;
}

.loader2 {
  opacity: 0;
  width: 30%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  margin-top: 20%;
  margin-left: 35%;
  z-index: -1;
  animation: loader-container 2000ms ease-in-out;
}

#main_wrapper {
  animation: loader-main 4s;
  opacity: 1;
}

.loader-restaurant {
  animation: menu 1s 150ms cubic-bezier(0.04, 0.9, 0.68, 1.02) both;
}
.loader-restaurant--1 {
  animation-delay: 0s;
}
.loader-restaurant--2 {
  animation-delay: 0s;
}
.loader-restaurant--3 {
  animation-delay: 0s;
}

.heart-container {
  margin-right: 10%;
}
.heart-container:hover {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-container:hover > .heart--card {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-container:hover > .heart--card + .heart-full {
  animation: heart 600ms forwards cubic-bezier(0.95, 0.01, 1, 0.03);
}

.heart--card {
  position: absolute;
  font-size: 1.5rem;
  color: black;
  transition-duration: 1s;
}

.heart-full {
  position: relative;
  font-size: 1.5rem;
  opacity: 1;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}

@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.heart-container-main {
  position: relative;
  top: 30px;
  right: 0px;
  font-size: 1.4rem;
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */
