body {
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';

}

section img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

.restaurant {
    h3 {
        @include font-cards;
    }

    p {
        @include font-cards-p;
    }


}

.howto {


    p {

        font-size: 20px;
        @include font-howto;

        @include tablet-only {
            font-size: 1rem;
        }
    }
}

.titles {
    @include font-title;
}



header {

    h1 {
        font-family: "Roboto", "sans-serif";
        font-size: 1.6rem;
        font-weight: 700;

        @include tablet-only {
            font-size: 1.6rem;
        }

        @include desktop-only {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1rem;

        @include tablet-only {
            font-size: 1rem;
        }

        @include desktop-only {
            font-size: 1.2rem;
        }

    }

    .restaurant__img--new {
        p {
            font-size: 1rem;
            font-weight: 700;
        }

    }
}


.restaurant-list__title {
    h1 {
        font-family: 'Shrikhand', 'sans-serif';
        font-weight: 500;
    }
}

.footercontent__title {
    font-family: 'Shrikhand', 'sans-serif';
    font-weight: 500;
    font-size: 1.2rem;

    @include tablet-only {


        font-size: 2rem;



    }
}

.footercontent__icon {

    font-size: 0.8rem;


    @include desktop-only {
        font-size: 1.5rem;

    }

    &--2 {
        font-size: 0.8rem;

    }

}