
body

{
    box-sizing: border-box;
    font-family: 'roboto', 'sans-serif';
    
}

section img  {
    object-fit: cover;
}

a

{
    text-decoration: none;
    color: black;
}

.restaurant {
    h3 {
        @include font-cards;
    }
    p{
        @include font-cards-p;
    }

    
}

.howto {
    p {
        @include font-howto;
        @include tablet-only{
            font-size: 1rem;
        }
    }
}

.titles {
    @include font-title;
}



header{

    h1 {
        font-family: "Roboto", "sans-serif";
        font-size: 2rem;
        font-weight: 700;
        @include tablet-only{
            font-size: 1.6rem;
        }
    }

    p{
        font-size: 1.2rem;
        @include tablet-only{
            font-size: 1rem;
    }
}

.restaurant__img--new{
    p {
        font-size: 1rem;
        font-weight: 700;
    }
    
}
}