
  
  
  .spinner {
    
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 42%;
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    border: 6px solid $color-secondary;
    border-top-color: $color-primary;

    animation: loader-container 1500ms ease-in-out;
    
    
  }

  #main_wrapper 

{
    animation: loader-main 4s;
    opacity: 1;
}





  