@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}






@mixin primary-box-shadow($color: $box-shadow-color) {
 box-shadow: 0.1rem 0.1rem 0.1rem 0 $color;
}
@mixin secondary-box-shadow($color: $box-shadow-color){
    box-shadow: 0.15rem 0.15rem 15rem 0 $color;
}

@mixin btn-box-shadow {
    box-shadow: 1px 1px 8px 2px black;
}

@mixin primary-border($color: $box-shadow-color){
   
    border-radius: 20px;
}

@mixin secondary-border{
    border-radius: 20px;
}

@mixin tertiary-border{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


@mixin btn($color: linear-gradient($color-secondary,$color-primary)){
    color: white;
    background: linear-gradient($color-secondary,$color-primary);
    border-radius: 40px;
    border: 0px;
    font-size: 1.1rem;
    
    
}

@function lightness-shift($colour){
   @if(lightness($colour) <50%){
        @return ligthen($colour, 20%) }@else{
            @return darken($colour, 40%)
        }
    }

    @mixin lightness($colour: lightness-shift($color-tertiary)){
        color: $colour;
   }

   @mixin secondary-margin{
       margin: 2% 0 0 0;
   }

@mixin font-cards{
    font-size: 1.4rem;
    font-weight: 700;
}

@mixin font-howto{
    font-weight: 550;
    font-size: 1rem;
}

@mixin font-title{
    font-weight: 700;
    font-size: 1.6rem;
}

@mixin font-cards-p {
    font-size: 1.2rem;
    font-weight: 400;
}


@mixin return{
    color: #000;
    font-size: 1.7rem;
}

@mixin hover-cards {

    transform: scale(1.08);
    @include btn-box-shadow;
}

@mixin hover-btn {
    &:hover {

        
        transform: scale(1.25);
        background: linear-gradient(darken($color-secondary, 8), darken($color-primary, 8));
        z-index: 2;

            @include btn-box-shadow;
            
    }
}