$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;
$color-background-1: #eaeaea;;
$color-background-2: #f6f6f6;
$color-background-solid: rgb(247, 247, 247);
$color-white: #FFF;

$box-shadow-color: #aaa;



$breakpoints: (
	tablet: 700px,
	desktop: 1200px,
	big-desktop: 2000px,);